<div>
  <h2>{{model.name}}</h2>
  <h4>{{model.address}}</h4>
  <h4>Cuisine: {{model.cuisine}}</h4>
</div>

<!-- <button class="btn btn-primary"{{action 'addToCart' model}}>Add to Cart</button> -->
<div>
  <h3>Reviews</h3>
  {{#each model.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
  <!-- {{new-review save="save" restaurant=model}} -->
</div>
