<div>
  <h2>{{model.name}}</h2>
  <h3>{{model.cuisine}}</h3>
  <p>{{model.address}}</p>
</div>

<!-- <button class="btn btn-primary"{{action 'addToCart' model}}>Add to Cart</button> -->
<!-- <div>
  <h3>Reviews</h3>
  {{#each model.reviews as |review|}}
    {{item-review review=review}}
  {{/each}}
  {{new-review save="save" product=model}}
</div> -->
